<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <p>Chat Sent From : <b><%= chat.from %></b></p>
        <form action="/chats/<%=chat._id %>?_method=PUT" method="POST">
          <textarea name="msg" rows="5" cols="25"><%= chat.msg %></textarea>
          <br />
          <button>Update</button>
        </form>
      </body>
    </html>
  </body>
</html>
